.chess {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color: #181818; 

  #app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .chess-header {
    background-color: rgb(13, 43, 10);
  }

  .chess-sidebar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6em;
    background-color: rgba(7, 34, 7, 0.349);

    @media (min-width: 1200px) {
      top: 0;
      left: 0px;
      padding: 2em;
      width: 13vw;
      height:100vh;
      flex-direction: column;
    }
    @media (max-width: 1199px) {
      top: 90vh;
      left: 0;
      width: 100vw;
      height: 10vh;
      flex-direction: row;
      @media (min-width: 1000px) {
        top: 95vh;
        left: 0;
        width: 100vw;
        height: 5vh;
        flex-direction: row;
      }
    }

  }

  h1 {
    width: 100vw;
    height: auto;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
  h6 {
    color: rgb(190, 190, 190)
  }
  
  .button {
    width: 140px;
    margin: 10px;
    padding: 10px;
    background-color: #000000;
    color: rgba(255, 255, 255, 0.87);
    border: 1px solid rgba(255, 255, 255, 0.87);
    cursor: pointer;
    transition: all 0.3s;
  
    &:hover {
        border: 1px solid #0ec3c9;
        color: #0ec3c9;
    }
  
    &:active {
        background-color: #0ec3c9;
    }
  
    /* Disabled styles */
    &:disabled {
        cursor: not-allowed;
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: rgba(255, 255, 255, 0.3);
    }
  }


}

