

.portfolio-header {
  height: 140px;
  background: radial-gradient(rgb(88, 38, 168), rgb(124, 70, 223));
  box-shadow: 10px 10px 10px rgba(73, 6, 117, 0.432);
  color: white;
}


.portfolio, .content {
  background-color: rgb(236, 236, 236);
  color: rgb(26, 26, 26);
}

.portfolio-footer {
  margin-top: 50vh;
  height: 80px;
  background-color: rgb(34, 34, 34);
  color: white;
}

.home-box {
  border: 2px solid rgb(53, 53, 53);
  box-shadow: 4px 4px 4px rgba(94, 94, 94, 0.432);
  border-radius: 25px;
  background-color: rgb(224, 178, 228);
}



@keyframes dazzle {
  from {transform: translate(-100%, 0);}
  to {transform: translate(100%, 0);}
}

.portfolio-home {
  position: absolute;
  display: flex;
  background-color: rgb(248, 248, 248);
  width: 100vw;
  height: 100vh;
  text-align: center;
  justify-content: center;
  
  .port-bg {
    width: 100vw;
    height: auto;
    position: absolute;
  }


  .port-headers {
    display: flex;
    transition: 0.5s ;
  }


  .port-title {
    font-size: 36px;

    @media(min-width: 700px) {
      @media(max-width: 999px) {
        font-size: 46px;
      }
      @media(min-width: 1000px) {
        font-size: 54px;
      }
    }
    transition-duration: 0.5s;
  }

  .port-apps, .port-about {
    font-size: 30px;

    transition-delay: 2s;
    transition-duration: 3s;

    &:hover {
      box-shadow: 30px 50px 60px 20px rgba(224, 182, 193, 0.151);
      cursor: pointer;
      transition: 0.3s;
      color: rgb(226, 87, 145);
    }

    @media(min-width: 700px) {
      @media(max-width: 999px) {
        font-size: 38px;
      }
      @media(min-width: 1000px) {
        font-size: 44px;
      }
    }
  }

  
  h1 {
    font-size: 24px;
    width: 6em;
    border-radius: 10px;
    @media(min-width: 700px) {
      @media(max-width: 999px) {
        font-size: 28px;
      }
      @media(min-width: 1000px) {
        font-size: 32px;
      }
    }
  }

  h4 {
    font-size: 14px;
    @media(min-width: 700px) {
      @media(max-width: 999px) {
        font-size: 18px;
      }
      @media(min-width: 1000px) {
        font-size: 22px;
      }
    }
  }

 

  .port-content {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
  }


  
  .bound-box {
    position: absolute;
    width: calc((100vw - 650px)/2);
    height: 100px;
    top: 15%;
    z-index: 1000;

    &.left {
      left: 0
    }

    &.right {
      right: 0;
    }

    background-color: rgb(248, 248, 248);
  }

  .port-icons {
    transition: 3s;
    transition-delay: 4s;
  }

  .port-icon-track {
    padding-left: 0.6em;
    padding-right: 0.6em;
    position: absolute;
    top: 16%;

    height: 80px;
    width: 920px;
    box-shadow: inset 0px -6px 12px -6px #dfe2e1;
    transition: 3s;
    transition-delay: 4s;
  }

  .port-icon-tray {
    padding-left: 0.6em;
    padding-right: 0.6em;
    position: absolute;
    top: 16%;

    height: 60px;
    width: 920px;
    display: flex;
    flex-direction: row;
    gap: 2em;
    z-index: 1;

    animation: 80s dazzle infinite;
    animation-timing-function: linear;

    transform: translate(-100%, 0);

    &.right {
      animation-delay: -40s;
    }

  }


  .port-icon {
    width: 60px;
    height: 60px;

    &:hover {
      cursor: pointer;
      filter: brightness(110%);
    }
  }


  
  .cv-download {
    position: absolute;
    top: 26%;
    width: 200px;
    height: 70px;
    transition: 1s;
    transition-delay: 0.5s;

    background: radial-gradient(rgb(131, 82, 187), rgb(92, 34, 117));
    color: white;
    font-weight: 600;
    border-radius: 25px;
    border: 1px solid purple;
    box-shadow: 0 0 6px rgb(95, 90, 97);

    &:hover {
      cursor: pointer;
      background: radial-gradient(rgb(134, 57, 179), rgb(85, 12, 119));
      color: white;
      border: 1px solid rgb(108, 2, 134);
    }
  }


  .img-track {
    display: grid;
    grid-template-columns: 0 1fr 1fr 1fr;
    gap: 4vw;
    align-items: center;
    justify-content: center;
  }

  .track-container {
 
    width: 100%;
    height: 55%;
    position: absolute;
    top: 50%;
    left: 0%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 4vh;

    opacity: 100%;
    transition: 2s ease-out;
    transition-delay: 1.5s;

    background-color: rgb(248, 248, 248);
    box-shadow: 0 0 4px rgb(182, 182, 182);

    h2 {
      font-size: 40px;
    }
  }

  
  img {
    width: auto;
    height: auto;
  }
  .port-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    box-shadow: 0px 0px 4px rgb(214, 214, 214);
    width: 500px;
    height: 70%;
    border-radius: 25px;

  }
  
  .port-info {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0.4em;

    p {
      font-size: 17px;
      font-weight: 400;
    }

    h1 {
      height: 24px;
    }
  }

  .port-description {
    width: 100%;
    display: grid;
    grid-template-columns: 85% 15%;
  }
  .port-links {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
   
    gap: 0.4em;
    p, a {
      font-size: 26px;
      color: rgb(26, 26, 26);

      &:hover {
        cursor: pointer;
        color: rgb(69, 154, 211);
      }
    }

    a {
      display: table-cell
    }
  }

  .port-container {
    display: flex;
    flex-direction: column;
    grid-template-rows: 60% 10% 30%;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    box-shadow: 0 0 6px rgb(142, 158, 160);

    height: 35vh;
    border-radius: 15px;

    @media(max-width: 1199px) {
      width: 95%
    }
    @media(min-width: 1200px) {

      @media(max-width: 1600px) {
        width: 90%
   
      }
      width: 85%
    }

    &:hover {
      cursor: pointer;
      border: 1px solid rgb(97, 139, 218);
      box-Shadow: 0px 0px 8px rgb(97, 139, 218)
    }
    
    }
  }


