.portfolio-header {
  height: 140px;
  background: radial-gradient(rgb(88, 38, 168), rgb(124, 70, 223));
  box-shadow: 10px 10px 10px rgba(73, 6, 117, 0.432);
  color: white;
}


.portfolio, .content {
  background-color: rgb(236, 236, 236);
}

.portfolio-footer {
  margin-top: 50vh;
  height: 80px;
  background-color: rgb(34, 34, 34);
  color: white;
}

.home-box {
  border: 2px solid rgb(53, 53, 53);
  box-shadow: 4px 4px 4px rgba(94, 94, 94, 0.432);
  border-radius: 25px;
  background-color: rgb(224, 178, 228);
}



.portfolio-home {
  position: absolute;
  display: flex;
  background-color: rgb(248, 248, 248);
  width: 100vw;
  height: 100vh;
  text-align: center;
  justify-content: center;
  
  .port-bg {
    width: 100vw;
    height: auto;
    position: absolute;
  }

  .port-title {
    transition: 3s;
    font-size: 60px;
    position: absolute;
    top: 25%;
  }
  h1 {
    font-size: 42px;
    width: 6em;
    border-radius: 10px;
  }

  h4 {
    opacity: 0%;
  }

  .port-content {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    transition: 3s;
  }
  .img-track {
    width: 90%;
    display: flex;
    flex-direction: row;
   
    gap: 10vmin;
    align-items: flex-end;
    transition: 4s ease-out;
  }
  .track-container {
    width: 100vw;
    position: absolute;
    top: 50%;
    display: flex;
    opacity: 0%;
    transition: 3s;
    transition-delay: 3s;
  }

  .twitter-logo {
    width: 18vmin;
    height: 18vmin;
  }
  img {
    width: auto;
    height: auto;
  }
  .port-img-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    border: 3px solid rgb(105, 105, 105);
    box-shadow: 0px 0px 10px rgb(150, 150, 150);
    width: 25vmin;
    height: 25vmin;
    border-radius: 25px;
  }
  

  .port-container {
    align-items: center;
    justify-content: end;
    gap: 0.4em;
    border-radius: 25px;
    transition: transform 3s ease;
    &:hover{
      transition: 2s;
      transform: scale(1.2);
      cursor: pointer;

      .port-img-container {
        cursor: pointer;
        border: 3px solid rgb(97, 139, 218);
        box-shadow: 0px 0px 20px rgb(97, 139, 218);
      }
      h1 {
        color: rgb(24, 24, 24);
      }


    }
  }

  h2:hover {
    box-shadow: 30px 50px 60px 20px rgba(224, 182, 193, 0.151);
    cursor: pointer;
    transition: 0.3s;
    color: rgb(226, 87, 145);
  }

}



.portfolio-cats {
  display: flex;
  justify-content: center;
  flex-direction: 'row';
}

.portfolio-top-box {
  border: 1px solid rgb(163, 163, 163);
  height: 400px;
  width: 800px;
}

.spacer {
  height: 20vh;
}
