


.new-tweet {
  display: flex;
  flex-direction: column;
}

.new-tweet-main {
  display: grid;
  grid-template-columns: 8% 90%;
  width: 100%;
  margin-left: 1em;
  align-items: flex-start;
  min-height: 100px;
}


.new-tweet-input {
  width: 96%;
  overflow-wrap: break-word;
  overflow: hidden;
  text-wrap: pretty;
  background-color: var(--tweet-bg);

  &:focus {
    outline-width: 0;
  }

  font-size: 21px;
  line-height: 1.2em;
  resize: none;

  @media (max-width: 699px) {
    width: 90%;
    margin-left: 0.4em;
  }

  @media (max-width: 500px) {
    width: 75%;
    margin-left: 1.2em;
  }
}

.new-tweet-footer {
  border-top: var(--border2);
  bottom: 0;
  min-height: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.new-tweet-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;

  &:hover {
    cursor: pointer;
    background-color: rgba(201, 229, 250, 0.719);
    color:rgb(22, 71, 145)
  }
}

.post-button {
  background-color: rgba(49, 120, 219, 0.952);
  color: white;
  
  height: 40px;
  width: 80px;
  border-radius: 25px;
  font-weight: 500;

  &:hover {
    background-color: rgb(21, 104, 221);
  };
}

.timeline-top-bar {
  height: 60px;
}

.timeline-new-tweet {
  border-top: var(--border);

  background-color: var(--tweet-bg);
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-top: 0.8em;

  .new-tweet-footer {
    border-bottom: var(--border2)
  }
}

.suggested-title {
  height: 100px;
  display: flex;

  align-items: end;
  justify-content: center;
  border-bottom: var(--border);
}

.tweet-view-new-tweet {
  border-bottom: var(--border);
  background-color: var(--tweet-bg);

  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-top: 0.8em;

}
