

.twitter {
  width: 100vw;
  height: 100vh;
  background-color: rgb(220, 220, 220);
}

.content {
  height: 100vh;
  overflow: scroll;
}

.sign-in {
  position: absolute;
  width: 800px;
  height: 500px;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  border: 2px transparent rgb(70, 70, 70);
  border-radius: 5%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 2em;
  background-color: rgb(248, 248, 248);

  @media only screen and (max-width: 768px) {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    border-radius: 0;
    background-color: rgb(248, 248, 248);
  }
  img {width:30%;
  height: 20%}
}

.sign-in-page {
  background-color: rgb(34, 34, 34);
  width: 100vw;
  height: 100vh;
}


.tweet {
  padding: 1em;
  border-left: solid 1px rgba(128, 128, 128, 0.624);
  border-right: solid 1px rgba(128, 128, 128, 0.624);
  border-bottom: solid 1px rgba(128, 128, 128, 0.624);
  background-color: rgb(250, 250, 250);
}

.tweet:hover {
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}

.tweet-img-container {
  border-radius: 25px;
  border: 1px solid rgb(154, 154, 154);
  box-shadow: 4px 4px 4px rgba(96, 96, 96, 0.1);
  overflow: hidden;
  margin-bottom: 1em;
}
.tweet-img {
  max-width: 800px;
}

.tweet-video-container {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  border: 1px solid rgb(154, 154, 154);
  box-shadow: 4px 4px 4px rgba(96, 96, 96, 0.1);
  overflow: hidden;
  margin-bottom: 1em;
}

.avi {
  width: 40px;
  height: 40px;

  &:hover {
    cursor: pointer;
    filter: brightness(85%)
  }
}

.user-display-name {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.quote {
  border: 1px solid rgb(154, 154, 154);
  box-shadow: 4px 4px 4px rgba(96, 96, 96, 0.1);
  border-radius: 25px;
  padding: 1em;
  margin: 1em;
}

.avi-quote {
  width: 40px;
  height: 40px;
}





.twitter-signup {
  background-color: rgb(245, 245, 245);
  height: 60vw;
  border-radius: 25px;
  border: 2px solid rgb(156, 156, 156);
  box-shadow: 0 0 6px rgb(196, 196, 196);
  transition: 2s;
}