

.twitter {
  width: 100vw;
  height: 100vh;
  background-color: rgb(220, 220, 220);
}

.content {
  overflow-y: scroll;

  @media (max-width: 699px) {
  --lg-left: 65px;
  --lg-right: 100vw;
  --content-width: calc(100vw - 65px);
  };

  @media (min-width: 700px) {
  --content-width: 600px;
  --lg-left: calc((100vw - 600px) * 0.3);
  --lg-right: calc(var(--lg-left) + 600px)
  };

  @media (min-width: 1300px) {
    --content-width: 600px;
    --lg-left: calc((100vw - 600px) * 0.4);
    --lg-right: calc(var(--lg-left) + 600px)
  };
}

.middle-container {
  position:relative;
  width: var(--content-width);
  height: 100vh;
  left: var(--lg-left);
  padding: 0;
  margin: 0;

}

.left-sidebar, .right-sidebar {
  height: 100vh;
  position: fixed;
}

.left-sidebar {
  top: 0;
  left: 0;
  min-width: 75px;
  width: var(--lg-left);

  display: flex;
  justify-content: center;

  border: 1px solid rgb(138, 74, 22);
}

.right-sidebar {
  top: 0;
  left: var(--lg-right);
  right: 15px;
  border: 1px solid rgb(92, 22, 138);

  @media (max-width: 699px) {
    display: none;
    }
}




.sign-in {
  position: absolute;
  width: 800px;
  height: 500px;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  border: 2px transparent rgb(70, 70, 70);
  border-radius: 5%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 2em;
  background-color: rgb(248, 248, 248);

  @media only screen and (max-width: 768px) {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    border-radius: 0;
    background-color: rgb(248, 248, 248);
  }
  img {width:30%;
  height: 20%}
}

.sign-in-page {
  background-color: rgb(34, 34, 34);
  width: 100vw;
  height: 100vh;
}


.tweet {
  padding: 1em;
  border-left: solid 1px rgba(128, 128, 128, 0.624);
  border-right: solid 1px rgba(128, 128, 128, 0.624);
  border-bottom: solid 1px rgba(128, 128, 128, 0.624);
  background-color: rgb(250, 250, 250);

  display: grid;
  grid-template-columns: 6% 90%;
}

.tweet:hover {
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}

.tweet-img-container {
  border-radius: 25px;
  border: 1px solid rgb(154, 154, 154);
  box-shadow: 4px 4px 4px rgba(96, 96, 96, 0.1);
  overflow: hidden;
  margin-bottom: 1em;
}
.tweet-img {
  max-width: 800px;
}

.tweet-video-container {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  border: 1px solid rgb(154, 154, 154);
  box-shadow: 4px 4px 4px rgba(96, 96, 96, 0.1);
  overflow: hidden;
  margin-bottom: 1em;
}

.avi {
  width: 40px;
  height: 40px;

  &:hover {
    cursor: pointer;
    filter: brightness(85%)
  }
}

.tweet-header {
  height: 1em;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}
.tweet-header p {
  margin: 0
}

.tweet-interpunct {
  font-size: 20px;
}

.user-display-name {
  color:rgb(54, 54, 54);
  font-weight: 700;
  padding-bottom: 0.1em;
  font-size: 15px
}

.user-username, .tweet-time {
  color: rgb(37, 37, 37);
  font-weight: 400;
  font-size: 16px;
}

.user-display-name:hover, .tweet-time:hover {
  text-decoration: underline;
}

.tweet-content {
  margin-top: 0.2em;
  font-size: 14.6px;
  line-height: 1.4em;
  margin-bottom: 0.7em;
}
.tweet-text {
  margin: 0
}

.tweet-footer {
  align-items: flex-start;
}

.tweet-like, .tweet-unlike, .tweet-retweet, .tweet-stats, .tweet-reply {
  align-items: flex-start;
  height:30px;
}

.tweet-like {
  color: #f91850;
}

.tweet-unlike {
  color: rgb(70, 70, 70);
  align-content: center
}

.tweet-like:hover, .tweet-unlike:hover {
}

.tweet-icon {
 align-self: flex-start;
}


.quote {
  border: 1px solid rgb(154, 154, 154);
  box-shadow: 4px 4px 4px rgba(96, 96, 96, 0.1);
  border-radius: 25px;
  padding: 1em;
  margin: 1em;
}

.avi-quote {
  width: 40px;
  height: 40px;
}





.twitter-signup {
  background-color: rgb(245, 245, 245);
  height: 60vw;
  border-radius: 25px;
  border: 2px solid rgb(156, 156, 156);
  box-shadow: 0 0 6px rgb(196, 196, 196);
  transition: 2s;
}